
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(67 193 3);
    color: white;
    height: 70px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-family:sans-serif;
}
nav ul{
    list-style-type: none;
}
.gamecontainer{
   display: flex;
   justify-content: center;
   margin-top: 40px;
}
.container{
      display: grid;
      grid-template-columns: repeat(3, 10vw);
      grid-template-rows:repeat(3,10vw);
      font-family: sans-serif;
}
 .box{
    border: 3px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color:rgb(144 242 85) ;
}
.gameinfo{
    padding:0 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.gameinfo div{
     padding-top: 15px;
}
.imgbox img{
     width: 0;
     transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 25px;
    padding: 10px;
    background-color:rgb(104, 241, 113) ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: serif;
}
.info{
    font-size: 26px;
}

